<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
         <div class="container for-about text-center" style="margin-top: 15px;">
            <img src="/static/img/dd.svg" width="250px" height="250px">
            <h1>DD</h1>
            <h1><small>Schools apps integrations</small></h1>
            <div class="row" style="margin-top: 40px;">
               <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a  href="https:/gitlab.com/DD-workspace/DD" target="_blank" style="color: deepskyblue">
                     <i class="fa fa-globe" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>Visit website</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <a href="https:/gitlab.com/DD-workspace/DD/-/issues" target="_blank" style="color: orange">
                     <i class="fa fa-gitlab fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                     <h1><small>Open an issue</small></h1>
                  </a>
               </div>
               <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
            </div>
            <div class="row" style="margin-top: 25px;">
               <div class="col-md-4 col-sm-4 col-xs-4"></div>
               <div class="col-md-2 col-sm-2 col-xs-12">
                  <i class="fa fa-envelope-o fa-5x" style="font-size: 125px;" aria-hidden="true"></i>
                  <h1>
                     <small>
                        Contact us at:
                        <br/>
                        info@digitaldemocratic.net
                     </small>
                  </h1>
               </div>
               <div class="col-md-2 col-sm-6 col-xs-12">
                  <p><img src="/static/img/agplv3-155x51.png" style="margin-top: 60px;"></p>
                  <h1 style="margin-top: 25px;"><small>License</small></h1>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
         </div>
     </div>
   </div>
</div>

{% endblock %}

{% block pagescript %}
<script src="/static/js/restful.js"></script>

<script src="/static/js/status_socket.js"></script> 
{% endblock %}
