<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
<!-- extend base layout -->
{% extends "base.html" %} {% block css %}
<!-- Ion.RangeSlider -->
<link href="/vendors/normalize-css/normalize.css" rel="stylesheet" />
<!-- Switchery -->
<link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
<!-- Bootstrap Colorpicker -->
<link
  href="/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<style>
  #select_fa {
    font-family: "FontAwesome", "Liberation Sans";
    font-size: 14px;
  }
  #select_fa::before {
    vertical-align: middle;
  }
</style>
<div class="row">
  <!-- form color picker -->
  	<div class="col-md-12 col-sm-12">
    	<div class="x_panel">
			<div class="x_title">
				<h2>Legal<small>Company/School</small></h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				{% with type = 'legal' %}
				{% include 'aux/text-editor.html' %}
				{% endwith %}
				<div class="form-group row docs-buttons">
					<ul class="nav navbar-right panel_toolbox">
						<li>
						<button id="save-legal" type="button" class="btn btn-primary">
							Save changes
						</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Privacy policy<small></small></h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				{% with type = 'privacy' %}
				{% include 'aux/text-editor.html' %}
				{% endwith %}
				<div class="form-group row docs-buttons">
					<ul class="nav navbar-right panel_toolbox">
						<li>
						<button id="save-privacy" type="button" class="btn btn-primary">
							Save changes
						</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> -->

  {% endblock %} {% block pagescript %}
  <script src="/static/js/legal.js"></script>
  <!-- bootstrap-wysiwyg -->
  <script src="/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
  <script src="/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
  <script src="/vendors/google-code-prettify/src/prettify.js"></script>
  {% endblock %}
</div>
