{#
<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
#}
<div id="navbar-menu-apps">
    <div id="menu-apps-btn">
        <button type="button" id="dropdownMenuAppsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ data.user_avatar }}">
        </button>
        <div id="dropdownMenuApps" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <ul id="app-aapps">
                {% for item in data.user_menu %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>